@model NetManagement.Models.Computer

@{
    ViewData["Title"] = "Details";
}

<div class="d-flex justify-content-center align-items-center min-vh-100">
    <div class="form-wrapper col-md-6">
        <div class="page-header-modern mb-4">
            <h1 class="page-title">Chi tiết thông tin</h1>
        </div>

        <div>
            <table class="table table-striped table-bordered">
                <tbody>
                    <tr>
                        <th class="col-sm-2">
                            Tên máy tính
                        </th>
                        <td class="col-sm-10">
                            @Html.DisplayFor(model => model.Name)
                        </td>
                    </tr>
                    <tr>
                        <th class="col-sm-2">
                            Trạng thái
                        </th>
                        <td class="col-sm-10">
                            @Html.DisplayFor(model => model.Status)
                        </td>
                    </tr>
                    <tr>
                        <th class="col-sm-2">
                            Giá mỗi giờ
                        </th>
                        <td class="col-sm-10">
                            @Html.DisplayFor(model => model.PricePerHour)
                        </td>
                    </tr>
                    <tr>
                        <th class="col-sm-2">
                            Số lần đặt
                        </th>
                        <td class="col-sm-10">
                            @Html.DisplayFor(model => model.BookingCount)
                        </td>
                    </tr>
                </tbody>

            </table>
        </div>

        <div class="form-group d-flex justify-content-center gap-2">
            <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-success">
                <i class="fas fa-edit"></i> Chỉnh sửa
            </a>
            <a asp-action="Index" class="btn btn-secondary">
                <i class="fas fa-arrow-left"></i> Quay lại
            </a>
        </div>
    </div>
</div>

@section Styles {
    <link rel="stylesheet" href="~/css/Details.css" asp-append-version="true" />
}